{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

<link rel="stylesheet" href="{% static 'wagtailperson/css/person.css' %}" type="text/css"/>

{% with person=value.person_page.person %}
    <a class="person short_description" href="{% pageurl value.person_page %}">
        <div class="person short_description">
            {% if person.picture %}
                <div class="picture">
                    {% image person.picture fill-100x150 %}
                </div>
            {% endif %}
            <div class="description">
                <h2>{{ person.name }}</h1>
                    <ul class="tags">
                        {% for tag in person.tags.all %}
                            <li>{{ tag }}</li>
                        {% endfor %}
                    </ul>
                    <p class="intro">
                        {{ person.intro }}
                    </p>
            </div>
        </div>
    </a>
{% endwith %}   
