{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wagtailperson/css/person.css' %}" type="text/css"/>
{% endblock %}

{% block body_class %}template-personpage{% endblock %}

{% block content %}
    <h1>{{ page.person.name }}</h1>
    <div class="person full_description">
        {% if page.person.picture %}
            <div class="picture">
                {% image page.person.picture original %}
            </div>
        {% endif %}
        <div class="description">
            <ul class="tags">
                {% for tag in page.person.tags.all %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <p class="abstract">
                {{ page.person.abstract|richtext }}
            </p>
        </div>
    </div>
{% endblock %}
