{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'wagtailperson/css/person.css' %}" type="text/css"/>
{% endblock %}

{% block body_class %}template-personindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for person_page in person_pages %}
        {% with person=person_page.person %}
            <a class="person short_description" href="{% pageurl person_page %}">
                <div class="person short_description">
                    {% if person.picture %}
                        <div class="picture">
                            {% image person.picture fill-100x150 %}
                        </div>
                    {% endif %}
                    <div class="description">
                        <h2>{{ person.name }}</h2>
                        <ul class="tags">
                            {% for title in person.tags.all %}
                                <li>{{ tag }}</li>
                            {% endfor %}
                        </ul>
                        <p class="intro">
                            {{ person.intro }}
                        </p>
                    </div>
                </div>
            </a>
        {% endwith %}
    {% endfor %}

{% endblock %}
